nav.navbar{
		display: flex;
		justify-content: space-around;
		align-items: center;

	div.main-title{
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: #58595b;
		font-size: 1.1em;

		svg{
			#four{
				fill: #d0d2d3;
			}
			#three{
				fill: #a6a8ab;
			}
			#two{
				fill: #808184;
			}
			#one{
				fill: #58595b;
			}
		}
	}
}