<div class="nav">
	<div class="wrapper">
		<div class="logo">
			ASN
		</div>
		<div class="links">
			<ul>
				<li *ngFor="let element of NavbarElements" (click)="_navigation($event,element)">
					{{element.show_name}}
				</li>
			</ul>
		</div>
		<div class="ham-account">
			<div class="account">
				<div *ngIf="user.is_authenticated">
					Hi, <span>{{ user.username }}</span>
				</div>
				<div class="login-button" *ngIf="!user.is_authenticated">
					<a> Log In </a>
				</div>
			</div>
			<div class="hamburger" data-activates='list-dropdown'>
				<i class="fa fa-bars"></i>
			</div>
			<ul id="list-dropdown" class="floating-list dropdown-content">
				<li class="valign-wrapper" *ngFor="let element of NavbarElements">
					<h5>{{element.show_name}}</h5>
				</li>
			</ul>
		</div>
	</div>
</div>