<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <base href="/">
    <title>ASN : NSIT for ICPC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
    
    <!-- 0. Basic Styles and libraries  -->
    <style>
      *{
        font-family: "Oxygen",sans-serif;
      }
      body{
        margin: 0;
        background-color: #fafafa;
      }
    </style>
    <script type="text/javascript" src={% static "ng-main/node_modules/jquery/dist/jquery.min.js" %}></script>
    <link rel="stylesheet" type="text/css" href={% static "ng-main/node_modules/font-awesome/css/font-awesome.min.css" %} />
    
    
    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    <script src={% static "ng-main/node_modules/core-js/client/shim.min.js" %}></script>
    <script src={% static "ng-main/node_modules/zone.js/dist/zone.js" %}></script>
    <script src={% static "ng-main/node_modules/reflect-metadata/Reflect.js" %}></script>
    <script src={% static "ng-main/node_modules/systemjs/dist/system.src.js" %}></script>
    
    <!-- 2. Configure SystemJS -->
    <script src={% static "ng-main/systemjs.config.js" %}></script>
    <script>
      System.import('app').catch(function(err){ console.error(err.message); });
    </script>
  </head>
  <!-- 3. Display the application -->
  <body>
    <ng-app>Loading...</ng-app>
  </body>
  <link rel="stylesheet" type="text/css" href={% static "ng-main/node_modules/materialize-css/dist/css/materialize.min.css" %} />
  <script type="text/javascript" src={% static "ng-main/node_modules/materialize-css/dist/js/materialize.min.js" %}></script>
</html>
